[submodule "3rdparty/normalise"]
	path = 3rdparty/normalise
	url = git://github.com/necolas/normalize.css.git
[submodule "3rdparty/semantic.gs"]
	path = 3rdparty/semantic.gs
	url = git://github.com/twigkit/semantic.gs.git
